<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <style>
        body{
            background-color: rgb(250, 250, 250)!important;
        }
        
        #loader{
    background: rgb(255, 255, 255) url("./images/preloader.gif") no-repeat center center!important;
    min-width: 100%!important;
    min-height: 100vh!important;
    position: fixed!important;
    z-index: 2000000!important;
    }
    </style>
</head>
<body>

    <div id="loader"></div>
    <h1 class=" cus-font mt-3 mb-5 text-center animate__animated animate__tada position-fixed w-100">Your Profile</h1>
    <section id="profile">
        <div class=" container">
            <div class="row min-vh-100 justify-content-center align-items-center">
                <div class=" col-lg-6">
                    <div class=" bg-white rounded shadow-sm p-4">
                        <div class=" text-center">
                            <img class=" profile-img" src="images/young-asia-businessman-using-computer-laptop-talk-colleagues-about-plan-video-call-meeting-while-working-from-home-living-room.jpg" alt="">
                        </div>
                        <div>
                            <h4 class=" text-center mt-4" id="name">Thi Ha Zaw</h4>
                            <div class=" d-flex justify-content-between align-items-center mt-4">
                                <p class=" mb-0 ps-3">email</p>
                                <p class=" mb-0" id="usermail">thvaaeg@gmail.com</p>
                            </div>
                            <div class="accordion accordion-flush mt-3" id="accordionFlushExample">
                                <div class="accordion-item">
                                  <h2 class="accordion-header" id="flush-headingOne">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                        Attended Course
                                    </button>
                                  </h2>
                                  <div id="flush-collapseOne" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <ul>
                                            <li>Java</li>
                                            <li>Php</li>
                                            <li>JavaScript</li>
                                            <li>HTML</li>
                                        </ul>
                                    </div>
                                  </div>
                                </div>
                            </div> 
                            <div class=" text-center mt-3">
                                <a href="#" class=" btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Edit Profile</a>   
                                <a href="#" class=" btn btn-outline-primary">LogOut</a> 
                            </div> 
                            <!-- Modal -->
                            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Your Profile</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="">
                                            <input type="text" class=" form-control mb-3 border-0 shadow" placeholder="Username" id="Username">
                                            <input type="email" class=" form-control mb-3 border-0 shadow" placeholder="email" id="email">
                                            <input type="password" class=" form-control mb-3 border-0 shadow" placeholder="password" id="pw">
                                            <div class=" form-check">
                                                <input type="checkbox" class=" form-check-input" id="showPwBtn">
                                                <label class=" form-check-label">show password</label>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary" id="SaveChangeBtn" data-bs-dismiss="modal">Save Changes</button>
                                    </div>
                                </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script type="module" src="/main.js"></script>
    <script>
        let loader = document.getElementById("loader");
        window.addEventListener("load", function () {
          loader.style.display = "none";
        });

        let showPwBtn = document.getElementById("showPwBtn");
        let password = document.getElementById("pw");
        let Username = document.getElementById("Username");
        let Email = document.getElementById("email");
        let SaveChangeBtn = document.getElementById("SaveChangeBtn");
        let name = document.getElementById("name");
        let Usermail = document.getElementById("usermail");

        SaveChangeBtn.addEventListener("click",()=>{
            name.innerText = Username.value;
            Usermail.innerText = Email.value;
        })

        showPwBtn.addEventListener("click",()=>{
            if(showPwBtn.checked){
                password.type = 'text';
            }else{
                password.type = 'password';
            }
        })
    </script>
</body>
</html>