$font-family-sans-serif: "Roboto", sans-serif;
$font-family-sans-serif: "Fasthand", "cursive";

$theme-colors: (
    "primary": #754ffe,
    "secondary": #ebf0f3,
    "success": #0dcaf0,
    "danger": #dc3545,
    "light": #f8f9fa,
    "dark": #0d3b66,
);

// $navbar-dark-active-color: #fff;
// $navbar-dark-color: rgba(255, 255, 255, 0.75);
$navbar-nav-link-padding-x: 1rem;
$nav-link-font-size: 1.1rem;
$navbar-brand-padding-y: 0.5rem;
// $dropdown-border-width: 0px;
// $dropdown-item-padding-x: 2px;
// $dropdown-item-padding-y: 0px;
$progress-height: 0.7rem;
$btn-padding-x-lg: 35px;
$btn-padding-y-lg: 5px;
